@charset "utf-8";

.searchBox {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: solid 1px var(--color-divider);
    color: var(--color-primary-text);
    font-size: var(--font-size-base);
    line-height: 1.5;
    &::-webkit-input-placeholder {
      color: var(--color-divider);
    }
    &:focus {
      border-bottom: solid 1px var(--color-dark-primary);
      outline: none;
    }
  }

  &__submit {
    width: 45px;
    height: 45px;
    color: var(--color-dark-primary);
    font-size: var(--font-size-md);
    cursor: pointer;
  }
}