@charset "utf-8";

:root {
  font-size: var(--font-size-root-lg);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
}

button, input {
  background: none;
  border: none;
}

img {
  vertical-align: bottom;
}

@media screen and (max-width: 375px) {
  :root {
    font-size: var(--font-size-root-sm);
  }
}
