@charset "utf-8";

:root {
  /* font-size */
  --font-size-root-sm: 12px;
  --font-size-root-lg: 16px;
  --font-size-sm: .75rem;
  --font-size-base: 1rem;
  --font-size-md: 1.25rem;

  /* font-family */
  --font-family-default: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* font-weight */
  --font-weight-default: 300;

  /* color */
  --color-dark-primary: #0097a7;
  --color-primary: #00bcd4;
  --color-light-primary: #b2ebf2;
  --color-accent: #ff4081;
  --color-secandary: #757575;
  --color-divider: #bdbdbd;
  --color-primary-text: #212121;
}